.container {
  width: 100%;
  margin: 1em 0;
  /* position: sticky;
  top: 10vh; */
  background: #fcfcfc;
  z-index: 4;
  position: sticky;
  top: 10vh;
}

.listNav {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.listNav::-webkit-scrollbar {
  display: none;
}

.div {
  border-bottom: 2px solid #f2f3f8;
  /* width: 33.3%; */
  text-align: center;
  padding: 0.5em 0;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #999999;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}

.div > span {
  cursor: pointer;
}

.activeDiv {
  border-bottom: 2px solid var(--buttonGreen);
  width: 33.3%;
  text-align: center;
  padding: 0.5em 0;
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--buttonGreen);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  animation: borderEffect 1s ease-in-out;
}

@keyframes borderEffect {
  0% {
    border-bottom: 2px solid #f2f3f8;
  }

  100% {
    border-bottom: 2px solid var(--buttonGreen);
  }
}

.activeDiv > span {
  cursor: pointer;
}

@media (min-width: 767px) and (max-width: 1023px) {
  .container {
    position: static;
  }
}

@media (max-width: 768px) {
  .container {
    position: static;
  }

  .div {
    flex-basis: 33.3%;
  }

  .activeDiv {
    flex-basis: 33.3%;
  }
}
