.container {
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 0 120px;
  position: relative;
}

.container h1 {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container > div:nth-child(2) {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.container > div:nth-child(2):hover {
  background: #e8e8e8;
}

.container > div:nth-child(2) > img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border: 2px solid #5b5b5b;
  border-radius: 50%;
}

.container > div:nth-child(2) > span {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.36px;
}

.weather {
  position: absolute;
  top: 10vh;
  width: 100%;
  left: 0;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: hsl(197, 71%, 73%, 0.5);
  color: var(--purple);
  flex-wrap: wrap;
}

.weather > span {
  color: #696984;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%; /* 25.2px */
  letter-spacing: 0.28px;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    padding: 0 1.5rem;
  }

  .container > div:nth-child(2) > span:nth-child(2) {
    display: none;
  }

  .container > div:nth-child(2) > img {
    width: 24px;
    height: 24px;
  }

  .container h1 {
    font-size: 16px;
  }
  .weather > span {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 1.5rem;
  }

  .container > div:nth-child(2) > span:nth-child(2) {
    display: none;
  }

  .container > div:nth-child(2) > img {
    width: 24px;
    height: 24px;
  }

  .container h1 {
    font-size: 16px;
  }

  .weather > span:nth-child(3),
  .weather > span:nth-child(4),
  .weather > span:nth-child(5) {
    display: none;
  }

  .weather > span {
    font-size: 12px;
  }
}
