.container {
  background-color: var(--purple);
  color: var(--white);
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > a {
  color: var(--white);
  margin-left: 0.4rem;
}
